<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.name %>. </h1>
    <p>I heard that you have forgotten password for your account. Here I generated you a new one,</p>
    <p>new one: <%= @new_password %></p>
    <p>To login to the site, just follow this link: <%= @url %>.</p>
    <p>Remember that you can change it to more familiar!</p>
  </body>
</html>
