[submodule "lib/assets/require-handlebars-plugin"]
	path = lib/assets/require-handlebars-plugin
	url = git://github.com/SlexAxton/require-handlebars-plugin.git
[submodule "lib/assets/backbone"]
	path = lib/assets/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "lib/assets/underscore"]
	path = lib/assets/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "lib/assets/bootstrap-datepicker"]
	path = lib/assets/bootstrap-datepicker
	url = git://github.com/eternicode/bootstrap-datepicker.git
[submodule "lib/assets/bootstrap-timepicker"]
	path = lib/assets/bootstrap-timepicker
	url = git://github.com/jdewit/bootstrap-timepicker.git
[submodule "lib/assets/moment"]
	path = lib/assets/moment
	url = git://github.com/timrwood/moment.git
