<div class="row hero-unit">
  <ul>
    <li><a href="#admin">Goto AdminSreen</a></li>
    <li><a href="#party/1">Goto Party</a></li>
  </ul>
  <section>
    <form id="login">
      Email: <input type="text" name="email" value="me@mail.com" /><br/>
      Password: <input type="text" name="password" value="password" /><br/>
      <input type="submit" value="Login"/></input>
      <li><a href="#sign_up">Sign up</a></li>
    </form>
  </section>
</div>
