<article id="admin" class="hero-unit row">
  <heading>
    <h1>Nakkikone Administrator</h1>
  </heading>
  <section>
    <heading>
      <h2>Select your administared party</h2>
    </heading>
    <div id="party-selector"></div>
  </section>
  <section>
    <heading>
      <h2>Edited Party</h2>
    </heading>
    <div id="party"></div>
  </section>
  <section>
    <heading>
      <h2>Nakki Table Schema</h2>
    </heading>
    <div id="nakit"></div>
  </section>
  <section>
    <heading>
      <h2>Party Constructors</h2>
    </heading>
    <div id="constructors"></div>
  </section>
  <section>
    <heading>
      <h2>List of signed parcipitants</h2>
    </heading>
    <div id="users"></div>
  </section>
  <section>
    <heading>
      <h2>Party Cleaners</h2>
    </heading>
    <div id="cleaners"></div>
  </section>
</article>
