<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid"><div class="span12"></div></div>
    <article id="admin" class="row-fluid">
      <div class="span1"></div>
      <div class="span10">
	<heading>
	  <h1 class="text-center">Nakkikone Administrator</h1>
	</heading>
	<section>
	  <heading>
	    <h4>Notifications</h4>
	  </heading>
	  <div id="admin-alert-area"></div>
	</section>
	<section>
	  <heading>
	    <h2>Select party to administer</h2>
	  </heading>
	  <div id="party-selector"></div>
	</section>
	<hr />
	<section class="span12">
	  <heading>
	    <h3>Selected Party</h3>
	  </heading>
	  <div id="party" class="span12"></div>
	</section>
	<section class="span12">
	  <heading>
	    <h2>Nakki Table Schema</h2>
	  </heading>
	  <div id="nakit"></div>
	</section>
	<hr />
	<section>
	  <heading>
	    <h2>Party Constructors</h2>
	  </heading>
	  <div id="constructors"></div>
	</section>
	<section>
	  <heading>
	    <h2>List of signed parcipitants</h2>
	  </heading>
	  <div id="users"></div>
	</section>
	<section>
	  <heading>
	    <h2>Party Cleaners</h2>
	  </heading>
	  <div id="cleaners"></div>
	</section>
      </div>
    </article>
  </div>
</div>
