<div class="alert alert-block {{#if message.type }}alert-{{ message.type }}{{/if}}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>{{ message.title }}</h4>{{ message.text }}
</div>
