<form method="post">
  <select name="aux" class="selector">
    <option value="none" selected="true">None / allready took</option>
    <option value="const" >Building up</option>
    <option value="clean" >Taking down</option>
    <option value="both" >Both!</option>
  </select>
</form>
