<form method="post">
  <select name="aux" class="selector">
    <option value="const" >Construction</option>
    <option value="clean" >Cleaning</option>
    <option value="both" selected="true">Both!</option>
  </select>
</form>
