<div class="row-fluid"><div class="span12"></div></div>
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <h2>Edit your own details:</h2>
    <p class="whiteshadow">Here you can update your information. You have re-enter your password (or change to new one if desired)</p>
    <form id="edit-details" class="form-horizontal">
    </form>
    <section>
      <div id="edit-details-alert-area">
      </div>
    </section>
  </div>
</div>
