<div class="table">
  <% _.each(data, function(nakki){ %> 
  <div class="row">
    <form>
      <input type="hidden" name="cid" value="<%= nakki.cid %>"/>
      <input type="text" name="type" value="<%= nakki.get('type') %>" />
      <input type="text" name="start" value="<%= nakki.get('start') %>" />
      <input type="text" name="end" value="<%= nakki.get('end') %>" />
    </form>
    <button class="deletor" value="<%= nakki.cid %>">delete</button>
  </div>
  <% }); %>
  <div class="row">
    <button class="creator">Create New Type</button>
    <button class="setter">Update NakkitTable</button>
  </div>
</div>

