<div id="emails-collapse" class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <div class="row-fluid">
	<div class="span3"><button class="btn btn-large btn-info accordion-toggle" data-toggle="collapse" data-parent="#email-collapse" href="#list-of-emails">Listing of emails</button></div>
	<div class="span3"><button class="btn btn-large btn-warning mail-to">Email Parcipinants</button></div>
      </div>
    </div>
    <div id="list-of-emails" class="accordion-body collapse">
      <div class="accordion-inner">
	{{#each emails}}{{this}}; {{/each}}
      </div>
    </div>
  </div>
</div>
