<button class="editor">Edit NakkiTypes</button>
<table class="table table-striped">
{{#each nakit}}
<tr><td>{{ this.type }}</td><td>{{ this.start }}</td><td>{{ this.end }}</td></tr>
{{/each}}
</table>
