<table class="table table-striped">
  <thead>
    <tr><th>Nakki Type</th><th>Start Time</th><th>End Time</th></tr>
  </thead>
  {{#each nakit}}
  <tr>
    <td>{{ this.type }}</td>
    <td>{{ prettyTimeFromSlot this.start ../party.date }}</td>
    <td>{{ prettyTimeFromSlot this.end ../party.date }}</td>
  </tr>
  {{/each}}
</table>
<button class="editor btn btn-primary">Edit NakkiTypes</button>
