<div>
  <div id="nakkitype-info-selector"></div>
  <div class="btn-group">
    <button class="create btn btn-primary">Create new Info</button>
  </div>
  <hr class="noprint"/>
  <div class="nakki-info-details">select nakki info...</div>
</div>
