<p>Hi {{ user.name }} !</p>
<a href="/logout" class="btn pull-right">Log out</a>
<a href="#party/id/1" class="btn pull-right">The Party</a>
{{#if isAdmin }}<a href="#admin" class="btn pull-right">Admin Sreen</a>{{/if}}
