<a href="/logout" class="btn pull-right">Log out</a>
<div class="btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Parties <span class="caret"></span></a>
  <ul class="dropdown-menu">
    {{#each parties}}
    <li><a href="#party/id/{{ this.id }}">{{ this.title }}</a></li>
    {{/each}}
  </ul>
</div>
{{#if isAdmin }}<a href="#admin" class="btn pull-right">Admin Sreen</a>{{/if}}
<span class="pull-right name">Hi {{ user.name }} !</span>
