<div class="row-fluid"><div class="span12"></div></div>
<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <h2>Lets get you rolled in!</h2>
    <hr />
    <form id="signup" class="form-horizontal">
    </form>
    <section>
      <div id="signup-alert-area">
      </div>
    </section>
  </div>
</div>
