<div class="row-fluid"><div class="span12"></div></div>
<div class="span1 hidden-phone"></div>
<article id="public" class="span10">
  <section>
    <div id="party-description"></div>
    <div class="accordion" id="accordion2">
      <div class="accordion-group"> 
	<div class="accordion-heading">
	  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            <h3>Brief description for each Nakki:</h3>
          </a>
	</div>
	<div id="collapseTwo" class="accordion-body collapse">
	  <div class="accordion-inner">
		  <div id="nakkitype-info-descriptions"></div>
	    <ul>
      	      <li><strong>Building up</strong>: The Nakki starts when we start the roudaus in our storage! This Nakki includes building up the sound and light technics, making food for the technicians, making decorations and putting then in place. This nakki can take 6-8h. At this point we need lost of people.</li>
	      <li><strong>Taking down</strong>: The Nakki starts when the party is over but you have to be in nakki-info. We pack everyting up and carry everything back to our warehouse. This includes cleaning up the place so that it will be at the same condition as when we got in. This takes about 4-5h.</li>
	    </ul>
	</div>
      </div>
    </div>
  </section>
  <section>
    <heading>
      <h2>Select Your Nakki <small>(at least 2)</small></h2>
    </heading>
    <div id="nakki-table"></div>
  </section>
  <section id="jobselector">
    <div class="row-fluid">
    <heading class="span12">
      <h2>Volunteer for building it up/taking it down?</h2>
    </heading>
    </div>
    <div class="row-fluid">
	<div class="pull-left span5">
	    <p class="help">You have to choose one:</p>
	    <div id="auxJob-selector"></div>
	</div>
	<div class="pull-right span5">
	    <p class="help">Lets have these numbers in balance? shall we?</p>
	    <div id="auxJob-cleaners"></div>
	    <div id="auxJob-constructors"></div>
	</div>
    </div>
  </section>
  <hr>
  <section id="input">
    <h3>Things you should know before you agree:</h3>
    <lu>
      <li><strong>Parcipitanting to Nakki-info is mandatory, you have to be there!</strong> This is the place where you get to know people and with who you are working with. You get information about safety at the party place and what to do in certain situations. Ask anything!</li>
      <li>If you want to <strong class="text-warning">cancel</strong> your Nakki: Come here and push the button below so that someone else can take it!</li>
    </lu>
    <br />
    <div id="assign">
      <button class="btn btn-large btn-success assign">Agree!</button> or
      <button class="btn btn-large btn-warning cancel-all">Cancel Your Reservations</button>
    </div>
  </section>
  <section id="notifications">
    <heading>
      <p><small>Notifications</small></p>
    </heading>
    <div id="alert-area">
    </div>
  </section>
</article>
<div class="span1"></div>
