<article id="public" class="row hero-unit">
  <section>
    <div id="party-description"></div>
  </section>
  <section>
    <heading>
      <h2>Select Your Nakki</h2>
    </heading>
    <div id="nakki-table"></div>
  </section>
  <section id="input">
    <form id="assign">
      <input type="submit" value="To Me!"></input>
    </form>
  </section>
</article>
