<div class="row-fluid"><div class="span12"></div></div>
<div class="span1 hidden-phone"></div>
<article id="public" class="span10">
  <section>	
    <div id="party-description"></div>
<div class="accordion" id="accordion2">
<div class="accordion-group"> 
   <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <h3>Brief description of every Nakki:</h3>
        </a>
    </div>
 <div id="collapseTwo" class="accordion-body collapse">
	<div class="accordion-inner">	
	<ul>
	<li><strong>Ticket Sales</strong>: You will sell tickets and count every sold ticket.</li>
	<li><strong>Kiosk</strong>: You will sell/give refreshments. This is the most hectic Nakki.</li>
	<li><strong>Cloackroom</strong>: You will take peoples jackets and stuff and mark them properly so that you can find them later and you will make sure nobody steals anything from hte cloakroom</li>
	<li><strong>Bouncer</strong>: There's usually just few Bouncers in a party who get paid for their work. They make sure everybody has great time and they know what to do in emergency situations.</li>
	<li><strong>Light Controller</strong>: You control the lights. You should come to build up the party because you get to know where all the lamps are and to test and program how they work.</li>
	<li><strong>Building up</strong>: The Nakki starts when we can get in to the rented place. This Nakki includes building up the sound and light technics, making food for the technicians, making decorations and putting then in place. This nakki can take 6-8h. At this point we need lost of people.</li>
	<li><strong>Taking down</strong>: The Nakki starts when the party is over. We pack everyting up and carry everything back to our warehouse. This includes cleaning up the place so that it will be at the same condition as when we got in. This takes about 4-5h.</li>
	</ul>
	</div>
 </div>
</div>
</div>

  </section>
  <section>
    <heading>
      <h2>Select Your Nakki <small>(at least 2)</small></h2>
    </heading>
    <div id="nakki-table"></div>
  </section>
  <section>
    <heading>
      <h2>Volunteer for building it up/taking it down?</h2>
	<p>You have to choose one.</p>
    </heading>
    <div id="auxJob-selector"></div>
  </section>
  <section id="input">
<h3>Things you should know before you agree:</h3>
<lu>
<li><strong>Parcipitanting to Nakki-info is mandatory, you have to be there!</strong> This is the place where you get to know people and with who you are working with. You get information about safety at the party place and what to do in certain situations. Ask anything!</li>
<li>If you volunteer for building up you have to be at the party place when we get in</li>
<li>if you volunteer for taking it down you have to come to nakki-info</li>
<li><small>If you want to <strong>cancel</strong> your Nakki: Come here and do it so that someone else can take it!</small></li>

</lu>
<br>
    <form id="assign">
      <input type="submit" class="btn btn-large btn-success" value="Agree!"></input>
    </form>
  </section>
</article>
<div class="span1"></div>
