<div class="row-fluid"><div class="span12"></div></div>
<div class="span1"></div>
<article id="public" class="span10">
  <section>
    <div id="party-description"></div>
  </section>
  <section>
    <heading>
      <h2>Select Your Nakki</h2>
    </heading>
    <div id="nakki-table"></div>
  </section>
  <section>
    <heading>
      <h2>Volunteer for building it up/taking it down?</h2>
	<p>You have to choose one.</p>
    </heading>
    <div id="auxJob-selector"></div>
  </section>
  <section id="input">
    <form id="assign">
      <input type="submit" class="btn btn-large btn-success"  value="To Me!"></input>
    </form>
  </section>
</article>
<div class="span1"></div>
