<form method="post">
  <select name="parties" class="selector">
    {{#each parties}}
    <option value="{{ this.cid }}" {{#if selected}}selected="true"{{/if}}>{{ this.title }}</option>
    {{/each}}
  </select>
</form>
<button class="creator btn btn-primary">New Party</button>
<button class="deletor btn btn-danger">Delete selected</button>