  <div class="control-group">
	<label class="control-label" for="inputName">Name:</label>
		<div class="controls">
		<input type="text" name="name" placeholder="{{ user.name }}" />
		</div>
  </div>
  <div class="control-group">
	<label class="control-label" for="inputName">Nick:</label>
		<div class="controls">
		<input type="text" name="nick" placeholder="{{ user.nick }}" />
		</div>
  </div>
  <div class="control-group">
	<label class="control-label" for="inputEmail">Email:</label>
		<div class="controls">
		<input type="text" name="email" placeholder="{{ user.email }}" />
		</div>
  </div>
  <div class="control-group">
	<label class="control-label" for="inputPhone">Phone:</label>
		<div class="controls">
		<input type="text" name="number" placeholder="{{ user.number }}" />
		</div>
  </div>
  <div class="control-group">
	<label class="control-label" for="inputPass">Password:</label>
		<div class="controls">
		<input type="password" name="password" />
	</div>
  </div>
  <div class="control-group">
	<label class="control-label" for="inputPassagain">Retype Password:</label>
		<div class="controls">
		<input type="password" name="password_confirmation" />
	</div>
  </div>
<div class="control-group">
<div class="controls">
<input type="submit" class="btn btn-primary" value="Sing In!"></input>
</div>
</div>
