<div class="hero-unit row">
  <p>Lets get you rolled in!</p>
  <form id="assign">
    Name: <input type="text" name="name" value="your name" /><br/>
    Email: <input type="text" name="email" value="your email" /><br/>
    Phone: <input type="text" name="number" value="your phone" /><br/>
    Password: <input type="text" name="password" value="password" /><br/>
    Retype password: <input type="text" name="password_check" value="password" /><br/>
    <input type="submit" value="Submit"></input>
  </form>
</div>
