<table class="table table-striped">
  <tr><td><h4>Name</h4></td><td><h4>Email</h4></td><td><h4>Phone</h4></td></tr>
  {{#each persons}}
  <tr><td>{{ this.name }}</td><td>{{ this.email }}</td><td>{{ this.number }}</td></tr>
  {{/each}}
</table>
