body {
}
.logo{
	background: url('whitelogo.png') no-repeat 0px 0px;
	height: 265px;
	width: 265px;
	display: inline-block;
	position: relative;
	margin-left: -230px;
	margin-top: -120px;
	z-index: -2;
	transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	text-shadow: 1px 1px 1px #FFFFFF;
}

.header {
	margin-top: 8%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 3%;
	height: 40px;
	postion: static;
	display:block;
}
.header h1 {
	display: block;
	postion: absolute;
	clear: none;
	transform: rotate(-4deg);
	-webkit-transform: rotate(-4deg);
	-moz-transform: rotate(-4deg);
	-ms-transform: rotate(-4deg);
	-o-transform: rotate(-4deg);
	text-shadow: 1px 1px 1px #FFFFFF;
}
#navigation {
	position: static;
	margin-right: 4%;
	display:inline-block;
}
.name {
	padding: 5px 20px 0 0;
}
#logout {
	position: inherit;
}
#content {
}
.reserved {
	color: #2a2;
}
.take{
	color: #722;
	padding: 3px 0 0 4px;
}
.text-warning {
	color: #a22;
}
.descr {
	padding-left: 2%;
}
.whiteshadow {
	text-shadow: 0px 1px 2px #FFF;
}
.selector {
	width: auto;
}
#nakkitype-info-selector{display:inline; position:relative; top:5px;}
.disabled{
	color: #EEE;
}
#admin-alert-area {
	overflow-y: auto;
	position: relative;
	height: 130px;
}

footer {
	text-align: right;
	margin-top: 5%;
}
#admin-party-details {visibility:hidden;}
#admin-nakki-timetable {visibility:hidden;}
#admin-participants {visibility:hidden;}

#auxJob-constructors .list-of-nicks {display:none;}
#auxJob-cleaners .list-of-nicks {display:none;}

/* Large desktop */
@media (min-width: 1200px) { 
	max-width: 1201px;
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
}
